<div ng-controller="l_kartustokCtrl">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">Laporan Kartu Stok</h1>
    </div>
    <div class="wrapper-md">
        <div class="panel panel-default">
            <div class="panel-heading">
                Laporan Bonus Karyawan 
            </div>
            <div class="panel-body">
                <form name="landaform" class="form-horizontal form-validation ">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Cabang</label>
                            <div class="col-sm-9">
                                <select ui-select2="" ng-model="form.cabang_id" style="width: 270px;">
                                    <option value="">-Semua Cabang-</option>
                                    <option ng-repeat="cabang in listcabang" value="{{cabang.id}}">{{cabang.nama}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Kategori</label>
                            <div class="col-sm-9">
                                <select ui-select2="" ng-model="form.kategori_id" style="width: 270px;">
                                    <option value="">-Semua Kategori-</option>
                                    <option ng-repeat="kategori in listkategori" value="{{kategori.id}}">{{kategori.nama}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tanggal</label>
                            <div class="col-sm-6">
                                <input class="form-control" type="text" date-range-picker ng-model="form.tanggal" required>
                            </div>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <center style="width: 100%">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-success fa fa-file-excel-o"  ng-disabled="landaform.$invalid"  ng-click="export(form)">&nbsp;Export Excel</button>
                                <button type="submit" class="btn btn-primary fa  fa-search" ng-disabled="landaform.$invalid" ng-click="view(form)">&nbsp;Tampilkan</button>
                            </div>
                        </div>
                    </center>	
                </form>
                <div ng-show="detail_laporan" style="margin-top: 50px;">
                    <center>
                        <h4>KARTU STOK ANAINA SKIN CARE</h4>
                        <h5>CABANG : {{laporan.cabang}}</h5>
                        <h5>KATEGORI PRODUK : {{laporan.kategori}}</h5>
                        <h5>PERIODE : {{laporan.start| date | uppercase}} s/d {{laporan.end| date | uppercase}} </h5>
                        <h5>METODE : FIFO</h5>
                        <center>
                            <div class="line line-dashed b-b line-lg pull-in"></div>
                            <style>
                                .table > tr > td{
                                    border-top: none;
                                }
                            </style>
                            <table class="table table-bordered ">
                                <thead>
                                    <tr>
                                        <th rowspan="2">Tanggal</th>
                                        <th rowspan="2">Keterangan</th>
                                        <th rowspan="2">No. Referensi</th>
                                        <th colspan="3" align="center">Masuk</th>
                                        <th colspan="3" align="center">Keluar</th>
                                        <th colspan="3" align="center">Saldo</th>
                                    </tr>
                                    <tr>
                                        <th>Unit</th>
                                        <th>Harga</th>
                                        <th>Jumlah</th>
                                        <th>Unit</th>
                                        <th>Harga</th>
                                        <th>Jumlah</th>
                                        <th>Unit</th>
                                        <th>Harga</th>
                                        <th>Jumlah</th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="list in list_detail">
                                    <tr>
                                        <td colspan="9"><b>{{list.title.produk}}</b></td>
                                        <td colspan="3" align="right"><b>{{list.title.kategori}}</b></td>
                                    </tr>
                                    <tr ng-repeat="detail in list.body">
                                        <td>{{detail.tanggal| date}}</td>
                                        <td>{{detail.keterangan}}</td>
                                        <td>{{detail.kode}}</td>
                                        <td>
                                            <p ng-if="detail.masuk.jumlah !== 0">{{detail.masuk.jumlah}} {{list.title.satuan}}</p>
                                        </td>
                                        <td>
                                            <p ng-if="detail.masuk.harga !== 0">{{detail.masuk.harga| currency}}</p>
                                        </td>
                                        <td>
                                            <p ng-if="detail.masuk.sub_total !== 0">{{detail.masuk.sub_total| currency}}</p>
                                        </td>
                                        <td>
                                            <p ng-repeat="jmlKeluar in detail.keluar.jumlah">{{jmlKeluar}} {{list.title.satuan}}</p>
                                        </td>
                                        <td>
                                            <p ng-repeat="hargaKeluar in detail.keluar.harga">{{hargaKeluar| currency}}</p>
                                        </td>
                                        <td>
                                            <p ng-repeat="saldoKeluar in detail.keluar.sub_total">{{saldoKeluar| currency}}</p>
                                        </td>
                                        <td>
                                            <p ng-repeat="jmlSaldo in detail.saldo.jumlah">{{jmlSaldo}} {{list.title.satuan}}</p>
                                        </td>
                                        <td>
                                            <p ng-repeat="hargaSaldo in detail.saldo.harga">{{hargaSaldo| currency }}</p>
                                        </td>
                                        <td>
                                            <p ng-repeat="subSaldo in detail.saldo.sub_total">{{subSaldo| currency }}</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3"><b>Total</b></td>
                                        <td><b>{{list.total.masuk.jumlah}}</b></td>
                                        <td></td>
                                        <td><b>{{list.total.masuk.harga| currency}}</b></td>
                                        <td><b>{{list.total.keluar.jumlah}}</b></td>
                                        <td></td>
                                        <td><b>{{list.total.keluar.harga| currency}}</b></td>
                                        <td><b>{{list.total.saldo.jumlah}}</b></td>
                                        <td></td>
                                        <td><b>{{list.total.saldo.harga| currency}}</b></td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="9" align="right"><b>Total Seluruh Stok</b></td>
                                        <td><b>{{laporan.grandJml}}</b></td>
                                        <td></td>
                                        <td><b>{{laporan.grandHarga| currency}}</b></td>
                                    </tr>
                                </tfoot>
                            </table>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>