<div ng-controller="l_bonuskaryawanCtrl">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">Laporan Bonus Karyawan</h1>
    </div>
    <div class="wrapper-md">
        <div class="panel panel-default">
            <div class="panel-heading">
                Laporan Bonus Karyawan 
            </div>
            <div class="panel-body">
                <form name="landaform" class="form-horizontal form-validation ">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Cabang</label>
                            <div class="col-sm-9">
                                <select ui-select2="" ng-model="form.cabang_id" style="width: 270px;" ng-change="ubah_pegawai(form.cabang_id)">
                                    <option value="">-Semua Cabang-</option>
                                    <option ng-repeat="cabang in listcabang" value="{{cabang.id}}">{{cabang.nama}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Pegawai</label>
                            <div class="col-sm-9">
                                <select ui-select2="" ng-model="form.pegawai_id" style="width: 270px;">
                                    <option value="">-Semua Pegawai-</option>
                                    <option ng-repeat="pegawai in listpegawai" value="{{pegawai.id}}">{{pegawai.nama}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tanggal</label>
                            <div class="col-sm-6">
                                <input class="form-control" type="text" date-range-picker ng-model="form.tanggal" required>
                            </div>
                        </div>
                    </div>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <center style="width: 100%">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-success fa fa-file-excel-o"  ng-disabled="landaform.$invalid"  ng-click="export(form)">&nbsp;Export Excel</button>
                                <button type="submit" class="btn btn-primary fa  fa-search" ng-disabled="landaform.$invalid" ng-click="view(form)">&nbsp;Tampilkan</button>
                            </div>
                        </div>
                    </center>	
                </form>
                <div ng-show="detail_laporan" style="margin-top: 50px;">
                    <center>
                        <h4>LAPORAN BONUS KARYAWAN ANAINA SKIN CARE</h4>
                        <h5>CABANG : {{detail.cabang}}</h5>
                        <h5>PERIODE : {{detail.start | date}} s/d {{detail.end | date}} </h5>
                    </center>
                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <table class="table table-bordered ">
                        <thead>
                            <tr>
                                <th>Tanggal</th>
                                <th>Kode Transaksi</th>
                                <th>Produk</th>
                                <th>Jabatan</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="list in list_detail">
                            <tr>
                                <td colspan="4"><b>{{list.title.nama}}</b></td>
                                <td><b>{{list.title.sub_total| currency}}</b></td>
                            </tr>
                            <tr ng-repeat="detail in list.body">
                                <td>{{detail.tanggal| date}}</td>
                                <td>{{detail.kode}}</td>
                                <td>{{detail.produk}}</td>
                                <td>{{detail.jabatan}}</td>
                                <td>{{detail.fee| currency}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4" align="right"><b>Total</b></td>
                                <td><b>{{detail.total| currency}}</b></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>