<div ng-controller="l_penjualanCtrl">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">Laporan Penjualan</h1>
    </div>
    <div class="wrapper-md">
        <div class="panel panel-default">
            <div class="panel-heading">
                Laporan Penjualan
            </div>
            <div class="panel-body">
                <form name="landaform" class="form-horizontal form-validation ">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Cabang</label>
                            <div class="col-sm-9">
                                <select class="form-control" ng-model="form.cabang">
                                    <option value="">-Semua Cabang-</option>
                                    <option ng-repeat="cabang in sCabang" value="{{cabang.id}}">{{cabang.nama}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Kategori</label>
                            <div class="col-sm-9">
                                <ui-select multiple ng-model="form.kategori" theme="bootstrap">
                                    <ui-select-match  placeholder="Pilih Kategori">{{$item.nama}}</ui-select-match>
                                    <ui-select-choices repeat="kategori in listkategori | filter: $select.search">
                                        <div ng-bind-html="kategori.nama | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Periode</label>
                            <div class="col-sm-9">
                                <input class="form-control" required type="text" date-range-picker ng-model="form.tanggal">
                            </div>
                        </div>
                    </div>
                    <br><br>
                    <center style="width: 100%">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button type="button" class="btn btn-success fa fa-file-excel-o"  ng-click="excel(form)">&nbsp;Export Excel</button>
                                <button type="submit" class="btn btn-primary fa  fa-search" ng-disabled="landaform.$invalid" ng-click="view(form)">&nbsp;Tampilkan</button>
                            </div>
                        </div>
                    </center>	
                </form>

                <div ng-show="detail_laporan" style="margin-top: 50px;" id="omset">
                    <div align="left">
                        <div align="LEFT">
                            <h3 style="margin: 0px">RUMAH CANTIK ANAINA</h3>
                            <p></p>
                            <h5 style="margin: 0px; font-weight: normal">CABANG : {{data.cabang}}</h5>
                            <div ng-bind-html="data.alamat"></div>
                            <div ng-bind-html="data.no_tlp"></div>
                        </div>
                        <p></p>
                        <p></p>
                        <center>
                            <h3 style="margin: 0px;">LAPORAN PENJUALAN</h3>
                            <p></p>
                            <p style="margin: 0px;"><div ng-bind-html="data.tgl"></div></p>
                            <p style="margin: 0px;"><div ng-bind-html="data.kategori"></div></p>
                        </center>
                        <br>
                        <p>Total Penjualan : <b>{{data.total| currency}}</b></p>
                        <div class="table-responsive">
                            <table class="table table-striped table-hover" >
                                <thead>
                                    <tr>
                                        <th colspan="2" align="center" style="text-align: center;vertical-align: middle;"><b>FAKTUR</b></th>
                                        <th rowspan="2" align="center" style="text-align: center;vertical-align: middle;"><b>CUSTOMER</b></th>
                                        <th rowspan="2" align="center" style="text-align: center;vertical-align: middle;"><b>KASIR</b></th>
                                        <th rowspan="2" align="center" style="text-align: center;vertical-align: middle;"><b>NAMA BARANG</b></th>
                                        <th rowspan="2" align="center" style="text-align: center;vertical-align: middle;"><b>JUMLAH</b></th>
                                        <th rowspan="2" align="center" style="text-align: center;vertical-align: middle;"><b>HARGA @</b></th>
                                        <th rowspan="2" align="center" style="text-align: center;vertical-align: middle;"><b>DISKON @</b></th>
                                        <th rowspan="2" align="center" style="text-align: center;vertical-align: middle;"><b>SUB TOTAL</b></th>
                                    </tr>
                                    <tr>
                                        <td align="center" style="text-align: center;vertical-align: middle;"><b>TANGGAL</b></td>
                                        <td align="center" style="text-align: center;vertical-align: middle;"><b>NO</b></td>
                                    </tr>
                                </thead>
                                <tbody ng-show="!isLoading">
                                    <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                                        <td>{{row.tanggal| date}}</td>
                                        <td>{{row.kode}}</td>
                                        <td>{{row.customer}}</td>
                                        <td>{{row.kasir}}</td>
                                        <td align="left"><div ng-bind-html="row.produk"></div></td>
                                        <td align="right"><div ng-bind-html="row.jumlah"></div></td>
                                        <td align="right"><div ng-bind-html="row.harga"></div></td>
                                        <td align="right"><div ng-bind-html="row.diskon"></div></td>
                                        <td align="right"><div ng-bind-html="row.sub_total"></div></td>
                                    </tr>
                                </tbody>
                                <tbody ng-show="isLoading">
                                    <tr>
                                        <td colspan="9" class="text-center">Loading ... </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                            </table>		
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
