<div ng-controller="t_cobaCtrl">
    <ui-select multiple tagging="tagTransform" ng-model="multipleDemo.selectedPeople" theme="bootstrap">
        <ui-select-match placeholder="Select person...">{{$item.name}} &lt;{{$item.email}}&gt;</ui-select-match>
        <ui-select-choices repeat="person in people">
            <div ng-if="person.isTag" ng-bind-html="person.name +' <small>(Tambah Baru)</small>'| highlight: $select.search"></div>
            <div ng-if="!person.isTag" ng-bind-html="person.name + person.isTag| highlight: $select.search"></div>
            <small>
                email: {{person.email}}
                age: <span ng-bind-html="''+person.age | highlight: $select.search"></span>
            </small>
        </ui-select-choices>
    </ui-select>


    <ui-select tagging="tagTransform" tagging-label="false" ng-model="multipleDemo.colors" theme="bootstrap" sortable="true" ng-disabled="disabled" style="width: 300px;" title="Choose a color">
        <ui-select-match placeholder="Select colors...">{{$select.selected.name}}</ui-select-match>
        <ui-select-choices repeat="person in people | filter:$select.search" >
            <small>
                email: {{person.email}} 
                age: <span ng-bind-html="''+person.age | highlight: $select.search"></span>
            </small>
        </ui-select-choices>
    </ui-select>


    <input type="text" datepicker-popup="dd-MM-yyyy" class="form-control" ng-model="asf" is-open="open" ng-click="open = true" datepicker-localdate>
    -----{{asf}}
    <div ng-controller="DatepickerDemoCtrl" class="m-b-lg">
        <h4>Datepicker</h4>
        <h5>Inline</h5>
        <div class="m-b">
            <datepicker ng-model="dt" min-date="minDate" show-weeks="true" class="datepicker"></datepicker>
        </div>
        <pre class="alert alert-info">Selected date is: <em>{{dt| date:'fullDate' }}</em> - {{dt}}</pre>    
        <div class="row">
            <div class="col-md-6">
                <label>Popup</label>
                <p class="input-group">
                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="dt" is-open="opened" min-date="minDate" max-date="'2015-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
            <div class="col-md-6">
                <label>Format:</label> <select class="form-control" ng-model="format" ng-options="f for f in formats"><option></option></select>
            </div>
        </div>
        <button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
        <button type="button" class="btn btn-sm btn-default" ng-click="dt = '2009-08-24'">2009-08-24</button>
        <button type="button" class="btn btn-sm btn-default" ng-click="clear()">Clear</button>
        <button type="button" class="btn btn-sm btn-default" ng-click="toggleMin()" tooltip="After today restriction">Min date</button>
    </div>

</div>
