<div ng-controller="pembelianCtrl">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">Transaksi - Pembelian</h1>
    </div>
    <div class="wrapper-md" ng-show="!is_edit">
        <div class="panel panel-default" st-pipe="callServer" st-table="displayed">
            <div class="panel-heading">
                <button class="btn btn-default btn-xs" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">Pencarian & Export Data</button>
                <div class="btn-group pull-right" role="group" style="margin-top: -3px;">
                    <button type="button" class="btn btn-default fa fa-file-excel-o" ng-show="!isCollapsed" ng-click="excel();">&nbsp;Export Excel</button>
                    <button type="button" class="btn btn-primary fa fa-plus-square-o" ng-click="create();">&nbsp;Tambah Data</button>
                </div> 
            </div>
            <div collapse="isCollapsed" class="panel-body collapse" style="height: 0px;">
                <div class="form-horizontal">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Kode</label>
                            <div class="col-sm-9">
                                <input st-search="pe.kode" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Periode</label>
                            <div class="col-sm-9">
                                <input class="form-control" st-search="tanggal" type="text" date-range-picker ng-model="tanggals">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Supplier</label>
                            <div class="col-sm-9">
                                <input st-search="su.nama" class="form-control"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="col-sm-3 control-label">Cabang</label>
                            <div class="col-sm-9">
                                <ui-select ng-model="cabang" theme="bootstrap">
                                    <ui-select-match placeholder="Cari Cabang">{{$select.selected.nama}}</ui-select-match>
                                    <ui-select-choices group-by="'group'" repeat="dokter in sCabang | filter: $select.search">
                                        <div ng-bind-html="dokter.nama | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-hover" >
                    <thead>
                        <tr>
                            <th st-sort="pe.kode">Kode</th>
                            <th st-sort="tanggal">Tanggal</th>
                            <th st-sort="su.nama">Supplier</th>
                            <th st-sort="ca.nama">Cabang</th>
                            <th st-sort="pe.total">Total</th>
                            <th st-sort="status">Status</th>
                            <th st-sort="m_user.nama">Petugas</th>
                            <th st-sort="created_at">Dibuat</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                            <td>{{row.kode}}</td>
                            <td>{{row.tanggal| date}}</td>
                            <td>{{row.nama_supplier}}</td>
                            <td>{{row.klinik}}</td>
                            <td style="text-align: right;">{{row.total|  currency:undefined:0}}</td>
                            <td style="text-align: center;">
                                <span class="badge bg-success" ng-show="row.status == 'clear'">Clear</span>
                                <span class="badge bg-danger" ng-show="row.status == 'puchase_order'">PO</span>
                            </td>
                            <td>{{row.petugas}}</td>
                            <td>{{row.created_at * 1000| date:'medium'}}</td>
                            <td>
                                <div class="btn-group pull-right" role="group" style="margin-top: -3px;">
                                    <button type="button" class="btn btn-info fa fa-edit" ng-click="update(row)"></button>
                                    <button type="button" class="btn btn-danger fa fa-minus-circle" ng-click="delete(row);"></button>
                                </div> 
                            </td>
                        </tr>
                    </tbody>
                    <tbody ng-show="isLoading">
                        <tr>
                            <td colspan="9" class="text-center">Loading ... </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="9" class="text-center" st-pagination="" st-items-by-page="10" st-template="tpl/blocks/pagination.custom.html">
                            </td>
                        </tr>
                </table>		
            </div>
        </div>
    </div>

    <!--FORM-->
    <form name="landaform" class="form-horizontal form-validation">
        <div class="wrapper-md" ng-show="is_edit">
            <div class="panel panel-default col-sm-13">
                <div class="panel-heading">
                    {{formtitle}}
                    <div class="btn-group pull-right" role="group" style="margin-top: -3px;" ng-hide="is_view == false">
                        <button type="button" class="btn btn-primary fa fa-print" ng-print print-element-id="printArea" ng-show="is_view">&nbsp;Print</button>
                    </div> 
                </div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Kode Pembelian</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="form.kode" ng-disabled="is_view" ng-readonly="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Cabang</label>
                            <div class="col-sm-9">
                                <ui-select on_select="getkode_cabang(form,is_create)" ng-model="form.cabang" theme="bootstrap">
                                    <ui-select-match placeholder="Cari Cabang">{{$select.selected.nama}}</ui-select-match>
                                    <ui-select-choices group-by="'group'" repeat="dokter in sCabang | filter: $select.search">
                                        <div ng-bind-html="dokter.nama | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Tanggal</label>
                            <div class="col-sm-9">
                                <div class="input-group">
                                    <input type="text" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="form.tanggal" is-open="opened1" ng-click="open1($event)"/>
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar-o"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Status</label>
                            <div class="col-sm-9">
                                <label class="btn btn-default" ng-model="form.status" btn-radio="'puchase_order'">Purchase Order</label>
                                <label class="btn btn-default" ng-model="form.status" btn-radio="'clear'">Clear</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Keterangan</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" ng-model="form.keterangan" ng-disabled="is_view"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="img-thumbnail">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Nama Supplier</label>
                                <div class="col-sm-7">
                                    <div class="input-group">
                                        <ui-select on-select="pilihSupplier(form,$item)" ng-model="form.supplier" theme="bootstrap">
                                            <ui-select-match>{{$select.selected.nama}}</ui-select-match>
                                            <ui-select-choices refresh="cariSupplier($select.search,form)" repeat="supp in listSupplier">
                                                {{supp.nama}}
                                            </ui-select-choices>
                                        </ui-select>
                                        <span class="input-group-btn">
                                            <button ng-click="form.supplier = undefined" class="btn btn-default">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">No Telepon</label>
                                <div class="col-sm-7">
                                    <input type="tel" class="form-control" ng-model="form.no_tlp" ng-disabled="is_view" ng-readonly="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Email</label>
                                <div class="col-sm-7">
                                    <input type="email" class="form-control" ng-model="form.email" ng-disabled="is_view" ng-readonly="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label">Alamat</label>
                                <div class="col-sm-7">
                                    <textarea  class="form-control" ng-model="form.alamat" ng-disabled="is_view" ng-readonly="true"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <h5 class="font-bold">- Detail Pembelian</h5>
                            <table class="table table-bordered det-trans">
                                <thead>
                                    <tr>
                                        <th style="text-align: center;">Barang</th>
                                        <th style="text-align: center;">Jumlah</th>
                                        <th style="text-align: center">Harga</th>
                                        <th style="text-align: center">Diskon (Rp.)</th>
                                        <th style="text-align: center">Sub Total</th>
                                        <th ng-hide="is_view"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="detail in pembeliandet">
                                        <td>
                                            <div class="input-group">
                                                <ui-select on-select="pilih(detail,$item)" ng-model="detail.barang" theme="bootstrap">
                                                    <ui-select-match>{{$select.selected.nama}}</ui-select-match>
                                                    <ui-select-choices refresh="cariProduk($select.search, form.cabang)" repeat="produk in listProduk">
                                                        {{produk.nama}}
                                                    </ui-select-choices>
                                                </ui-select>
                                                <span class="input-group-btn">
                                                    <button ng-click="detail.barang = undefined" class="btn btn-default">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                </span>
                                            </div>
                                        </td>
                                        <td><input type="text" class="form-control angka" ng-pattern="/^[0-9]+$/" ng-change="calculate()" ng-model="detail.jumlah" ng-readonly="is_view"></td>
                                        <td>
                                            <div class="input-group " style="width:135px; margin:0px;">
                                                <span class="input-group-addon">Rp</span>
                                                <input type="text" class="form-control angka" ng-maxlength="15" ng-pattern="/^[0-9]+$/" ng-change="calculate()" ng-model="detail.harga" ng-disabled="is_view">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-group " style="width:135px; margin:0px;">
                                                <span class="input-group-addon">Rp</span>
                                                <input type="text" class="form-control angka" ng-maxlength="15" ng-pattern="/^[0-9]+$/" ng-change="calculate()" ng-model="detail.diskon" ng-disabled="is_view">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-group " style="width:135px; margin:0px;">
                                                <span class="input-group-addon">Rp</span>
                                                <input type="text" class="form-control angka" ng-maxlength="15" value="{{(detail.jumlah * detail.harga) - (detail.jumlah * detail.diskon)}}" ng-readonly="true">
                                            </div>
                                        </td>
                                        <td ng-hide="is_view">
                                            <button  class="btn btn-info fa fa-plus btn-det-trans" ng-click="addrow(det)" ng-show="$index == 0"></button>
                                            <button  class="btn btn-danger fa fa-minus-circle btn-det-trans" ng-show="$index > 0" ng-click="removeRow($index)"></button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="2" style="text-align: right;font-weight: bold; padding: 5px;">Total</td>
                                        <td>
                                            <div class="input-group "  style="width:135px;">
                                                <span class="input-group-addon">Rp</span>
                                                <input type="text" class="form-control angka" ng-maxlength="15" ng-model="form.total_belanja" ng-readonly="true">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-group "  style="width:135px;">
                                                <span class="input-group-addon">Rp</span>
                                                <input type="text" class="form-control angka" ng-maxlength="15" ng-model="form.diskon" ng-readonly="true">
                                            </div>
                                        </td>
                                        <td colspan="2">
                                            <div class="input-group "  style="width:135px;">
                                                <span class="input-group-addon">Rp</span>
                                                <input type="text" class="form-control angka" ng-maxlength="15" ng-model="form.total" ng-change="bayar()" ng-readonly="true">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" style="text-align: right; padding: 5px;">Cash</td>
                                        <td colspan="2">
                                            <div class="input-group "  style="width:135px;">
                                                <span class="input-group-addon">Rp</span>
                                                <input type="text" class="form-control angka" ng-pattern="/^[0-9]+$/" ng-maxlength="15" ng-change="bayar()" ng-model="form.cash">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" style="text-align: right; padding: 5px;">Kredit</td>
                                        <td colspan="2">
                                            <div class="input-group "  style="width:135px;">
                                                <span class="input-group-addon">Rp</span>
                                                <input type="text" class="form-control angka" ng-pattern="/^[0-9]+$/" ng-maxlength="15" ng-change="bayar()" ng-model="form.credit">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" style="text-align: right; padding: 5px;">Kembalian</td>
                                        <td colspan="2">
                                            <div class="input-group "  style="width:135px;">
                                                <span class="input-group-addon">Rp</span>
                                                <input type="text" class="form-control angka" ng-maxlength="15" ng-model="form.kembalian" ng-readonly="true">
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                    <center style="width: 100%">
                        <div class="form-group">
                            <div class="col-md-12 col-sm-offset">
                                <button type="submit" class="btn btn-default fa fa-arrow-circle-o-left" ng-click="cancel(form)">&nbsp;Back</button>
                                <button type="submit" class="btn btn-primary fa fa-save" ng-hide="is_view" ng-disabled="landaform.$invalid" ng-click="save(form, pembeliandet)">&nbsp;Simpan</button>
                            </div>
                        </div>
                    </center>
                </div>
            </div>

        </div>
    </form>
    <div id="printArea" ng-show="is_view">
        <div style="height: 75px;">
            <div class="kiri" style="width: 50%">
                <img ng-src="img/logo.png" align="left" style="margin-right: 8px"/>
                {{form.cabang.alamat| uppercase}}<br/>
                Telp. {{form.no_tlp| uppercase}}<br/>
                www.anainaskincare.com<br>
                No. Nota Pembelian : {{form.kode}}
            </div>
            <div class="kanan" style="width: 30%">
                <span class="label"><u>Dari : </u></span><br/>
                <span class="label">TN/NY {{form.supplier.nama| uppercase}}</span><br/>
                <span class="label">{{form.alamat| uppercase}} {{form.cabang.no_telp}}</span><br/>
            </div>
        </div>
        <div style="margin-top: 20px;">
            <table class="print-detail">
                <thead>
                    <tr>
                        <th style="width:400px;">Nama Barang</th>
                        <th style="width:200px;">Banyaknya</th>
                        <th style="width:200px;">Harga</th>
                        <th style="width:200px;">Diskon</th>
                        <th style="width:200px;">Sub Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="detail in pembeliandet">
                        <td>
                            {{detail.barang.nama| uppercase}} 
                            <div ng-if="detail.type == 'Jasa'">
                                <p style="margin:0px;padding: 0px;">-Terapis : {{detail.terapis.nama}}</p>
                                <p style="margin:0px;padding: 0px;">-Dokter : {{detail.dokter.nama}}</p>
                            </div>
                        </td>
                        <td style="text-align: right; vertical-align: 0px;">
                            {{detail.jumlah}}
                        </td>
                        <td style="text-align: right; vertical-align: 0px;">
                            {{detail.harga| currency:undefined:0:undefined:0}}
                        </td>
                        <td style="text-align: right; vertical-align: 0px;">
                            {{detail.diskon| currency:undefined:0:undefined:0}}
                        </td>
                        <td style="text-align: right; vertical-align: 0px;">
                            {{(detail.jumlah * detail.harga) - (detail.jumlah * detail.diskon) | currency:undefined:0 : undefined:0}}
                        </td>
                    </tr>
                </tbody>
                <tfoot style="font-style: normal;">
                    <tr>
                        <td colspan="3" rowspan="4"> 
                            <b>Ket:</b> {{form.keterangan}}
                            <p>Dicetak Oleh: {{user.nama}} </p>
                        </td>
                        <td  style="text-align: right;border-bottom: none">Total :&nbsp;</td>
                        <td style="text-align: right;">
                            {{form.total| currency:undefined:0:undefined:0}}
                        </td>
                    </tr>
                    <tr>
                        <td  style="text-align: right; border-bottom: none">Bayar :&nbsp;</td>
                        <td style="text-align: right;">
                            {{form.cash| currency:undefined:0:undefined:0}}
                        </td>
                    </tr>
                    <tr>
                        <td  style="text-align: right;border-bottom: none">Kredit :&nbsp;</td>
                        <td style="text-align: right;">
                            {{form.credit| currency:undefined:0:undefined:0}}
                        </td>
                    </tr>

                    <tr>
                        <td  style="text-align: right;">Kembali :&nbsp;</td>
                        <td style="text-align: right;">
                            {{((form.cash * 1 + form.credit * 1) - form.total) | currency:undefined:0:undefined:0}}
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
