<div ng-controller="returPembelianCtrl">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">Pembelian</h1>
    </div>
    <div class="wrapper-md" ng-show="!is_edit">
        <div class="panel panel-default" st-pipe="callServer" st-table="displayed">
            <div class="panel-heading">
                <button class="btn btn-default btn-xs" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">Pencarian & Export Data</button>
                <div class="btn-group pull-right" role="group" style="margin-top: -3px;">
                    <button type="button" class="btn btn-default fa fa-file-excel-o" ng-show="!isCollapsed">&nbsp;Export Excel</button>
                    <button type="button" class="btn btn-primary fa fa-plus-square-o" ng-click="create();">&nbsp;Tambah Data</button>
                </div> 
            </div>
            <div collapse="isCollapsed" class="panel-body collapse" style="height: 0px;">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-1 control-label">NIP</label>
                        <div class="col-sm-3">
                            <input st-search="kode" class="form-control"/>
                        </div>
                        <label class="col-sm-1 control-label">Nama Pegawai</label>
                        <div class="col-sm-3">
                            <input st-search="nama" class="form-control"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-hover" >
                    <thead>
                        <tr>
                            <th st-sort="kode">Kode</th>
                            <th st-sort="kode">Kode Pembelian</th>
                            <th st-sort="tanggal">Tanggal</th>
                            <th st-sort="nama_supplier">Supplier</th>
                            <th st-sort="klinik">Klinik</th>
                            <th st-sort="total">Total (Rp)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                            <td>{{row.kode}}</td>
                            <td>{{row.kode_pembelian}}</td>
                            <td>{{row.tanggal}}</td>
                            <td>{{row.nama_supplier}}</td>
                            <td>{{row.klinik}}</td>
                            <td style="text-align: right;">{{row.total| currency}}</td>
                            <td>
                                <div class="btn-group pull-right" role="group" style="margin-top: -3px;">
                                    <button type="button" class="btn btn-info fa fa-edit" ng-click="update(row)"></button>
                                    <button type="button" class="btn btn-danger fa fa-minus-circle" ng-click="delete(row);"></button>
                                </div> 
                            </td>
                        </tr>
                    </tbody>
                    <tbody ng-show="isLoading">
                        <tr>
                            <td colspan="4" class="text-center">Loading ... </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="7" class="text-center" st-pagination="" st-items-by-page="10" st-template="tpl/blocks/pagination.custom.html">
                            </td>
                        </tr>
                </table>		
            </div>
        </div>
    </div>

    <!--FORM-->
    <form name="landaform" class="form-horizontal form-validation">
        <div class="wrapper-md" ng-show="is_edit">
            <div class="panel panel-default col-sm-13">
                <div class="panel-heading">
                    {{formtitle}} 
                </div>
                <div class="panel-body">
                    <div class="col-md-10">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Tanggal</label>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <input type="text" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="form.tanggal" is-open="opened1" ng-click="open1($event)"/>
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar-o"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Kode Pembelian</label>
                            <div class="col-sm-3">
                                <div class="input-group">
                                    <ui-select on-select="pilihPembelian(form,$item)" ng-model="form.pembelian" theme="bootstrap">
                                        <ui-select-match>{{$select.selected.kode}}</ui-select-match>
                                        <ui-select-choices refresh="cariPembelian($select.search,form)" repeat="supp in listPembelian">
                                            {{supp.kode}}
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                        <button ng-click="form.pembelian = undefined" class="btn btn-default">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel-heading text-muted font-bold">
                            Detail Supplier
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Supplier</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="form.nama_supplier" ng-disabled="is_view" ng-readonly="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">No Telepon</label>
                            <div class="col-sm-9">
                                <input type="tel" class="form-control" ng-model="form.no_tlp" ng-disabled="is_view" ng-readonly="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Email</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" ng-model="form.email" ng-disabled="is_view" ng-readonly="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Alamat</label>
                            <div class="col-sm-9">
                                <textarea  class="form-control" ng-model="form.alamat" ng-disabled="is_view" ng-readonly="true"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel-heading text-muted font-bold">
                            Detail Klinik
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Klinik</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="form.klinik" ng-disabled="is_view" ng-readonly="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Keterangan</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" ng-model="form.keterangan" ng-disabled="is_view"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="line line-dashed b-b line-lg pull-in"></div>
                    <div class="form-group">
                        <div class="col-sm-2">
                            <label class="control-label" style="font-weight: bold">Detail pembelian</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <table class="table-striped table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="text-align: center">Barang</th>
                                        <th style="text-align: center">Jumlah Barang</th>
                                        <th style="text-align: center">Jumlah Retur</th>
                                        <th style="text-align: center">Harga Awal</th>
                                        <th style="text-align: center">Harga Retur</th>
                                        <th style="text-align: center">Diskon</th>
                                        <th style="text-align: center;width:15%">Sub Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="list in details">
                                        <td style="text-align: center">
                                            {{list.nama_produk}}
                                        </td>
                                        <td style="text-align: center; width: 10%">{{list.jumlah}}</td>
                                        <td style="text-align: center; width: 10%"><input ng-change="subtotal()" class="form-control" style="width:100%" type="text" ng-pattern="/^[0-9]+$/" ng-model="list.jumlah_retur"></td>
                                        <td style="text-align: center; width: 20%">
                                            <div class="input-group m-b">
                                                <span class="input-group-addon">Rp.</span>
                                                <input class="form-control" style="width:100%" type="text" ng-pattern="/^[0-9]+$/" ng-model="list.harga" ng-disabled="true">
                                            </div>
                                        </td>
                                        <td style="text-align: center; width: 20%">
                                            <div class="input-group m-b">
                                                <span class="input-group-addon">Rp.</span>
                                                <input class="form-control" style="width:100%" ng-change="subtotal()" type="text" ng-pattern="/^[0-9]+$/" ng-model="list.harga_retur">
                                            </div>
                                        </td>
                                        <td style="text-align: center; width: 20%">
                                            <div class="input-group m-b">
                                                <span class="input-group-addon">Rp.</span>
                                                <input class="form-control" style="width:100%" ng-change="subtotal()" type="text" ng-pattern="/^[0-9]+$/" ng-model="list.diskon">
                                            </div>
                                        </td>
                                        <td style="text-align: center; width: 20%">
                                            <div class="input-group m-b">
                                                <span class="input-group-addon">Rp.</span>
                                                <input class="form-control" style="width:100%" type="text" ng-pattern="/^[0-9]+$/" ng-model="list.sub_total_retur" ng-disabled="true">
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th colspan="4"></th>
                                        <th style="text-align: center">{{form.total_retur| currency}}</th>
                                        <th style="text-align: center">{{form.total_diskon| currency}}</th>
                                        <th style="text-align: center">{{form.sub_totals| currency}}</th>
                                    </tr>
                                    <tr>
                                        <th colspan="6" style="text-align: right">Biaya Lain</th>
                                        <td style="text-align: center">
                                            <div class="input-group m-b">
                                                <span class="input-group-addon">Rp.</span>
                                                <input type="text" ng-pattern="/^[0-9]+$/" class="form-control" ng-change="total()" ng-model="form.biaya_lain" ng-disabled="is_view">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th colspan="6" style="text-align: right">Total Biaya</th>
                                        <th style="text-align: center">{{form.total_biaya| currency}}</th>
                                    </tr>
                                </tfoot>
                            </table>
                            <div class="line line-dashed b-b line-lg pull-in"></div>
                            <center style="width: 100%">
                                <div class="form-group">
                                    <div class="col-sm-10 col-sm-offset">
                                        <button type="submit" class="btn btn-default fa fa-arrow-circle-o-left" ng-click="cancel(form)">&nbsp;Back</button>
                                        <button type="submit" class="btn btn-primary fa fa-save" ng-hide="is_view" ng-disabled="landaform.$invalid" ng-click="save(form, details)">&nbsp;Simpan</button>
                                    </div>
                                </div>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>