<div ng-controller="barangCtrl">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">Data Master - Barang</h1>
    </div>
    <div class="wrapper-md" ng-show="!is_edit">
        <div class="panel panel-default" st-pipe="callServer" st-table="displayed">
            <div class="panel-heading">
                <button class="btn btn-default btn-xs" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">Pencarian & Export Data</button>
                <div class="btn-group pull-right" role="group" style="margin-top: -3px;">
                    <button type="button" class="btn btn-default fa fa-file-excel-o" ng-show="!isCollapsed" ng-click="excel();">&nbsp;Export Excel</button>
                    <button type="button" class="btn btn-primary fa fa-plus-square-o" ng-click="create();">&nbsp;Tambah Data</button>
                </div> 
            </div>
            <div collapse="isCollapsed" class="panel-body collapse" style="height: 0px;">
                <div class="form-horizontal">
                    <div class="form-group"><label class="col-sm-2 control-label">Nama</label>
                        <div class="col-sm-3">
                            <input st-search="mp.nama" class="form-control"/>
                        </div>
                        <label class="col-sm-2 control-label">Kode</label>
                        <div class="col-sm-3">
                            <input st-search="mp.kode" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Status</label>
                        <div class="col-sm-3">
                            <select stInputEvent="change" st-search="mp.is_deleted" class="form-control">
                                <option value="0">Aktif</option>
                                <option value="1">Terhapus</option>
                            </select>
                        </div>
                        <label class="col-sm-2 control-label">Kategori</label>
                        <div class="col-sm-3">
                            <select class="form-control m-b" st-search="mp.kategori_id">
                                <option value="">-- Pilih Kategori --</option>
                                <option ng-repeat="kategori in sKategori" value="{{kategori.id}}">{{kategori.nama}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-hover" >
                    <thead>
                        <tr>
                            <th st-sort="mp.kode">Kode</th>
                            <th st-sort="mp.nama">Nama</th>
                            <th st-sort="mp.type">Type</th>
                            <th st-sort="mk.nama">Kategori</th>
                            <th st-sort="ms">Satuan</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                            <td>{{row.kode}}</td>
                            <td>{{row.nama}}</td>
                            <td>{{row.type}}</td>
                            <td>{{row.kategori}}</td>
                            <td>{{row.satuan}}</td>
                            <td>
                                <div class="btn-group pull-right" role="group" style="margin-top: -3px;">
                                    <button type="button" class="btn btn-info fa fa-edit" ng-click="update(row)" ng-show="row.is_deleted == 0"></button>
                                    <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="trash(row);" ng-show="row.is_deleted == 0"></button>
                                    <button type="button" class="btn btn-info fa fa-recycle" ng-click="restore(row);" ng-show="row.is_deleted == 1"></button>
                                    <button type="button" class="btn btn-danger fa fa-minus-circle" ng-click="delete(row);" ng-show="row.is_deleted == 1"></button>
                                </div> 
                            </td>
                        </tr>
                    </tbody>
                    <tbody ng-show="isLoading">
                        <tr>
                            <td colspan="6" class="text-center">Loading ... </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6" class="text-center" st-pagination="" st-items-by-page="10" st-template="tpl/blocks/pagination.custom.html"></td>
                        </tr>
                </table>		
            </div>
        </div>
    </div>

    <!--FORM-->

    <div class="wrapper-md" ng-show="is_edit">
        <div class="panel panel-default">
            <div class="panel-heading">
                {{formtitle}} 
            </div>
            <div class="panel-body">
                <form name="landaform" class="form-horizontal form-validation">
                    <div class="col-md-12">
                        <tabset class="tab-container">
                            <tab>
                                <tab-heading>
                                    Data Produk
                                </tab-heading>
                                <div class="col-md-4 col-sm-12">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Kode</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" ng-model="form.kode" ng-disabled="is_view" ng-readonly='is_view == true' required />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Nama</label>
                                        <div class="col-sm-10">
                                            <input type="text" class="form-control" ng-model="form.nama" ng-disabled="is_view"  required />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Type</label>
                                        <div class="col-sm-10">
                                            <label class="btn btn-default" ng-model="form.type" btn-radio="'Jasa'" required>Jasa</label>
                                            <label class="btn btn-default" ng-model="form.type" btn-radio="'Barang'" required>Barang</label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Kategori</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" ng-model="form.kategori_id" ng-disabled="is_view" required>
                                                <option value="">-- Kategori --</option>
                                                <option ng-repeat="kategori in sKategori" value="{{kategori.id}}">{{kategori.nama}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-show="form.type == 'Barang'">
                                        <label class="col-sm-2 control-label">Satuan</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" ng-model="form.satuan_id" ng-disabled="is_view">
                                                <option value="">-- Satuan --</option>
                                                <option ng-repeat="jenis in sSatuan" value="{{jenis.id}}">{{jenis.nama}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Ket</label>
                                        <div class="col-sm-10">
                                            <textarea class="form-control" rows="4" ng-model="form.keterangan" ng-disabled="is_view"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <div class="form-group" ng-show="form.type == 'Barang'">
                                        <label class="col-sm-5 control-label">Harga Beli Terakhir</label>
                                        <div class="col-sm-5">
                                            <div class="input-group">
                                                <span class="input-group-addon">Rp</span>
                                                <input type="text" class="form-control angka" ng-pattern="/^[0-9]+$/" ng-model="form.harga_beli_terakhir" ng-disabled="is_view">
                                            </div>  
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-5 control-label">Harga Jual</label>
                                        <div class="col-sm-5">
                                            <div class="input-group">
                                                <span class="input-group-addon">Rp</span>
                                                <input type="text" class="form-control angka" ng-pattern="/^[0-9]+$/" ng-pattern="/^[0-9]+$/" ng-model="form.harga_jual" ng-disabled="is_view">
                                            </div>  
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-5 control-label">Diskon</label>
                                        <div class="col-sm-5">
                                            <div class="input-group">
                                                <span class="input-group-addon">Rp</span>
                                                <input type="text" class="form-control angka" ng-pattern="/^[0-9]+$/" ng-model="form.diskon" ng-disabled="is_view">
                                            </div>  
                                        </div>
                                    </div>
                                    <div class="form-group" ng-show="form.type == 'Barang'">
                                        <label class="col-sm-5 control-label">Minimum Stok</label>
                                        <div class="col-sm-5">
                                            <input type="text" class="form-control angka" ng-pattern="/^[0-9]+$/" ng-model="form.minimum_stok" ng-disabled="is_view">
                                        </div>
                                    </div>
                                    <div class="form-group" ng-show="form.type == 'Jasa'">
                                        <label class="col-sm-5 control-label">Fee Terapis</label>
                                        <div class="col-sm-5">
                                            <div class="input-group">
                                                <span class="input-group-addon">Rp</span>
                                                <input type="text" class="form-control angka" ng-pattern="/^[0-9]+$/" ng-model="form.fee_terapis" ng-disabled="is_view">
                                            </div>  
                                        </div>
                                    </div>
                                    <div class="form-group" ng-show="form.type == 'Jasa'">
                                        <label class="col-sm-5 control-label">Fee Dokter</label>
                                        <div class="col-sm-5">
                                            <div class="input-group">
                                                <span class="input-group-addon">Rp</span>
                                                <input type="text" class="form-control angka" ng-pattern="/^[0-9]+$/" ng-model="form.fee_dokter" ng-disabled="is_view">
                                            </div>  
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <img ng-src="img/{{(form.foto) ? 'barang/'+form.foto : 'noimage.jpg'}}" class="img-thumbnail">
                                    <input type="file" nv-file-select="" uploader="uploader" />
                                </div>
                                <div class="line"></div>
                            </tab>
                            <!-- Aktifkan Jika Harga Per Cabang Berbeda -->
<!--                            <tab>
                                <tab-heading>
                                    Harga
                                </tab-heading>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th width='25'>No</th>
                                            <th>Cabang</th>
                                            <th ng-show="form.type == 'Barang'">Harga Beli</th>
                                            <th>Harga Jual</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="harga in listHarga">
                                            <td>{{$index + 1}}</td>
                                            <td>{{harga.nama}}</td>
                                            <td style="width:100px;" ng-if='is_view && form.type == "Barang"'>{{harga.harga_beli}}</td>
                                            <td style="margin:0px;padding:0px;width:100px;" ng-if="is_view == false && form.type == 'Barang'"><input type='text' class="form-control" ng-model="harga.harga_beli"></td>
                                            <td style="width:100px;" ng-if='is_view'>{{harga.harga_jual}}</td>
                                            <td style="margin:0px;padding:0px;width:100px;" ng-if="is_view == false"><input type='text' class="form-control" ng-model="harga.harga_jual"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </tab>-->
                            <tab ng-if="form.type == 'Barang'">
                                <tab-heading>
                                    Kartu Stok
                                </tab-heading>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th width='25'>No</th>
                                            <th>Cabang</th>
                                            <th>Stok</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="stok in listStok">
                                            <td>{{$index + 1}}</td>
                                            <td>{{stok.nama}}</td>
                                            <td style="width:100px;" ng-if='is_create == false'>{{stok.stok}}</td>
                                            <td style="margin:0px;padding:0px;width:100px;" ng-if="is_create"><input type='text' class="form-control" ng-model="stok.iStok" ng-keyup="subtotal()"></td>
                                        </tr>
                                        <tr>
                                            <td colspan="2"><b>Total Seluruh Stok</b></td>
                                            <td>{{totalStok}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </tab>
                        </tabset>
                        <div align="center">
                            <button type="submit" class="btn btn-default fa fa-arrow-circle-o-left" ng-click="cancel()">&nbsp;Back</button>
                            <!--
                            AKTIFKAN JIKA HARGA PER CABANG BERBEDA
                            <button type="submit" class="btn btn-primary fa fa-save" ng-hide="is_view" ng-disabled="landaform.$invalid" ng-click="save(form, listStok, listHarga)">&nbsp;Simpan Perubahan</button>
                            -->
                            <button type="submit" class="btn btn-primary fa fa-save" ng-hide="is_view" ng-disabled="landaform.$invalid" ng-click="save(form, listStok, listHarga)">&nbsp;Simpan Perubahan</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
