
<div class="bg-light lter b-b wrapper-md">
    <h1 class="m-n font-thin h3">Data Master - Hak Akses</h1>
</div>
<div class="wrapper-md" ng-controller="RolesCtrl">
    <div class="panel panel-default">
        <div class="panel-heading"> 
            <button class="btn btn-default btn-xs" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">Pencarian & Export Data</button>
        </div>
        <div collapse="isCollapsed" class="panel-body collapse" style="height: 0px;">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-1 control-label" ">Status</label>
                    <div class="col-sm-3">
                        <div class="btn-group m-r" ng-controller="ButtonsDemoCtrl">
                            <label class="btn btn-default" ng-model="search.is_deleted" btn-radio="'Aktif'" uncheckable>Aktif</label>
                            <label class="btn btn-default" ng-model="search.is_deleted" btn-radio="'Terhapus'" uncheckable>Terhapus</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-sm-offset-2">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-primary fa fa-search">&nbsp;Pencarian</button>
                        <button type="button" class="btn btn-primary fa fa-file-excel-o">&nbsp;Export Excel</button>
                    </div> 
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            List Data
            <div class="btn-group pull-right" role="group">
                <button type="button" class="btn btn-primary fa fa-plus ng-scope" ng-click="open(product);">&nbsp;Tambah Data</button>
                <button type="button" class="btn btn-primary fa fa-trash ng-scope" ng-click="open(product);">&nbsp;Hapus</button>
            </div> 
        </div>
        <div class="table-responsive">
            <table st-table="rowCollection" class="table table-striped">
                <thead>
                    <tr>
                        <th st-sort="nama">Nama</th>
                    </tr>
                    <tr>
                        <th>
                            <input st-search="'nama'" placeholder="" class="input-sm form-control" type="search"/>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in rowCollection">
                        <td>{{row.nama}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5" class="text-center">
                            <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>