<div ng-controller="penjualanCtrl">
    <div class="bg-light lter b-b wrapper-md">
        <h1 class="m-n font-thin h3">Transaksi - Penjualan</h1>
    </div>
    <div class="wrapper-md" ng-if="!is_edit">
        <div class="panel panel-default" st-pipe="callServer" st-table="displayed">
            <div class="panel-heading">
                <button class="btn btn-default btn-xs" ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">Pencarian & Export Data</button>
                <div class="btn-group pull-right" role="group" style="margin-top: -3px;">
                    <button type="button" class="btn btn-default fa fa-file-excel-o" ng-show="!isCollapsed" ng-click="excel();">&nbsp;Export Excel</button>
                    <button type="button" class="btn btn-primary fa fa-plus-square-o" ng-click="create();">&nbsp;Tambah Data</button>
                </div> 
            </div>
            <div collapse="isCollapsed" class="panel-body collapse" style="height: 0px;">
                <div class="form-horizontal">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Kode</label>
                            <div class="col-sm-9">
                                <input st-search="penjualan.kode" class="form-control"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Periode</label>
                            <div class="col-sm-9">
                                <input class="form-control" st-search="tanggal" type="text" date-range-picker ng-model="tanggals">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Customer</label>
                            <div class="col-sm-9">
                                <input st-search="m_customer.nama" class="form-control"/>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="col-sm-3 control-label">Cabang</label>
                            <div class="col-sm-9">
                                <select class="form-control " st-search="cabang_id">
                                    <option value="">-Pilih Cabang-</option>
                                    <option ng-repeat="cabang in sCabang" value="{{cabang.id}}">{{cabang.nama}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-hover" >
                    <thead>
                        <tr>
                            <th st-sort="penjualan.kode">Kode</th>
                            <th st-sort="m_cabang.nama">Cabang</th>
                            <th st-sort="m_customer.nama">Customer</th>
                            <th st-sort="tanggal">Tanggal</th>
                            <th st-sort="penjualan.total">Total</th>
                            <th st-sort="status" style="text-align: center;">Status</th>
                            <th st-sort="m_user.nama">Petugas</th>
                            <th st-sort="created_at">Dibuat</th>
                            <!--<th st-sort="print">Tercetak</th>-->
                        </tr>
                    </thead>
                    <tbody ng-show="!isLoading">
                        <tr ng-repeat="row in displayed" ng-dblclick="view(row)">
                            <td>{{row.kode}}</td>
                            <td>{{row.cabang}}</td>
                            <td>{{(row.customer == null) ? "Umum" : row.customer}}</td>
                            <td>{{row.tanggal| date}}</td>
                            <td style="text-align: right;">{{row.total|  currency:undefined:0}}</td>
                            <td style="text-align: center;">
                                <span class="badge bg-success" ng-show="row.status == 'Selesai'">{{row.status}}</span>
                                <span class="badge bg-danger" ng-show="row.status == 'Pesan'">{{row.status}}</span>
                            </td>
                            <!--<td style="text-align: center; width: 20px;">{{row.print}} x</td>-->
                            <td>{{row.petugas}}</td>
                            <td>{{row.created_at * 1000| date:'medium'}}</td>
                            <td style="text-align: center">
                                <!--                                <div class="btn-group" role="group" style="margin-top: -3px;" ng-if="row.print == 0">
                                                                    <button type="button" class="btn btn-info fa fa-edit" ng-click="update(row)" ></button>
                                                                    <button type="button" class="btn btn-danger fa fa-minus-circle" ng-click="delete(row);" ></button>
                                                                </div> 
                                                                <div ng-if="row.print > 0">
                                                                    <span class="badge bg-success">Already Printed</span>
                                                                </div>-->
                                <div class="btn-group" role="group" style="margin-top: -3px;">
                                    <button type="button" class="btn btn-info fa fa-edit" ng-click="update(row)" ></button>
                                    <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="delete(row);" ></button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody ng-show="isLoading">
                        <tr>
                            <td colspan="9" class="text-center">Loading ... </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="9" class="text-center" st-pagination="" st-items-by-page="10" st-template="tpl/blocks/pagination.custom.html"></td>
                        </tr>
                </table>		
            </div>
        </div>
    </div>

    <!--FORM-->

    <div class="wrapper-md" ng-if="is_edit">
        <form name="landaform" class="form-horizontal form-validation">
            <div class="col-sm-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        {{formtitle}}
                        <div class="btn-group pull-right" role="group" style="margin-top: -3px;" ng-hide="is_view == false">
                            <span style="color:#F77A7A;float:left" ng-show="form.print >= 1"><i>Transaksi ini telah dicetak {{form.print}} kali &nbsp;&nbsp; </i></span>
                            <!--<button type="button" ng-show="form.status == 'Selesai'" ng-disabled="form.print >= 2" class="btn btn-primary fa fa-print" ng-print print-element-id="printArea" ng-click="savePrint(form)">&nbsp;Print</button>-->
                            <button type="button" ng-show="form.status == 'Selesai'" class="btn btn-primary fa fa-print" ng-print print-element-id="printArea" ng-click="savePrint(form)">&nbsp;Print</button>
                        </div> 
                    </div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-md-2 col-sm-3 control-label">Customer</label>
                            <div class="col-md-4  col-sm-9">
                                <div class="input-group">
                                    <ui-select ng-disabled="is_view" tagging="tagCustomer" tagging-label="false" on-select="pilihCustomer(form, $item)" ng-model="form.customers" theme="bootstrap">
                                        {{$select.selected.nama}}
                                        <ui-select-match placeholder="Pilih atau Cari nama Customer">{{$select.selected.nama}}</ui-select-match>
                                        <ui-select-choices refresh="cariCustomer($select.search)" repeat="val in results">
                                            {{val.kode}} - {{val.nama}} ( {{val.tanggal_lahir| date}} )
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                        <button ng-disabled="is_view" ng-click="form.customers = undefined" class="btn btn-default">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                            <label class="col-md-2 col-sm-3 control-label">No. Reg.</label>
                            <div class="col-md-4 col-sm-9">
                                <input type="text" class="form-control" ng-model="form.kode_cust" ng-disabled="read" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 col-sm-3 control-label">Alamat</label>
                            <div class="col-md-10 col-sm-9">
                                <textarea class="form-control" rows="4" ng-model="form.alamat" ng-disabled="read" ></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 col-sm-3 control-label">No Telpon</label>
                            <div class="col-md-4 col-sm-9">
                                <input type="text" class="form-control" ng-model="form.no_tlp" ng-disabled="read" >
                            </div>
                            <label class="col-md-2 col-sm-3 control-label">Email</label>
                            <div class="col-md-4 col-sm-9">
                                <input type="text" class="form-control" ng-model="form.email" ng-disabled="read" >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <h5 class="font-bold">- Data Penjualan</h5> 
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 col-sm-3 control-label">Cabang</label>
                            <div class="col-md-3 col-sm-9">
                                <ui-select ng-disabled="is_view" on-select="getkode_cabang(form)"   ng-model="form.cabang" theme="bootstrap">
                                    <ui-select-match placeholder="Cari Cabang">{{$select.selected.nama}}</ui-select-match>
                                    <ui-select-choices group-by="'group'" repeat="dokter in sCabang | filter: $select.search">
                                        <div ng-bind-html="dokter.nama | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 col-sm-3 control-label">Kode Penjualan</label>
                            <div class="col-md-2 col-sm-9">
                                <input type="text" class="form-control" ng-model="form.kode" ng-readonly="true" ng-disabled="is_view" required>
                            </div>
                            <label class="col-md-2 col-sm-3 control-label">Tanggal</label>
                            <div class="col-md-2 col-sm-9">
                                <div class="input-group">
                                    <input ng-disabled="is_view" type="text" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="form.tanggal" is-open="opened1" ng-click="open1($event)"/>
                                    <span class="input-group-addon">
                                        <i class="fa fa-calendar-o"></i>
                                    </span>
                                </div>
                            </div>
                            <label class="col-md-2 col-sm-3 control-label">Status</label>
                            <div class="col-md-2 col-sm-9">
                                <div class="btn-group" ng-if="!is_view">
                                    <label class="btn btn-default" ng-model="form.status" btn-radio="'Pesan'" >Pesan</label>
                                    <label class="btn btn-default" ng-model="form.status" btn-radio="'Selesai'">Selesai</label>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-9">
                                <div class="btn-group" ng-if="is_view">
                                    <label class="btn btn-default" ng-model="form.status" btn-radio="'Pesan'" ng-show="form.status == 'Pesan'">Pesan</label>
                                    <label class="btn btn-default" ng-model="form.status" btn-radio="'Selesai'" ng-show="form.status == 'Selesai'">Selesai</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 col-sm-3 control-label">Keterangan</label>
                            <div class="col-md-10 col-sm-9">
                                <textarea class="form-control" rows="4" ng-model="form.keterangan" ng-disabled="is_view"></textarea> 
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <h5 class="font-bold">- Detail Penjualan</h5> 
                                <table class="table table-bordered det-trans">
                                    <thead>
                                        <tr>
                                            <td align="center"><b>Barang</b></td>
                                            <td align="center"><b>Jumlah</b></td>
                                            <td align="center"><b>Tipe</b></td>
                                            <td align="center"><b>Harga</b></td>
                                            <td align="center"><b>Diskon</b></td>
                                            <td align="center"><b>Sub total</b></td>
                                            <td ng-hide="is_view" style="padding: 0px; width: 5px;"><button ng-click="addDetail()" class="btn btn-success" ng-disabled="is_view"><i class="fa fa-plus"></i></button></td>
                                        </tr>
                                    </thead>
                                    <tr ng-repeat="detail in detPenjualan">
                                        <td>
                                            <div class="input-group">
                                                <ui-select ng-disabled="is_view" on-select="pilih(detail, $item);" ng-model="detail.produk" theme="bootstrap">
                                                    <ui-select-match placeholder="Pilih atau Cari nama produk">{{$select.selected.nama}}</ui-select-match>
                                                    <ui-select-choices refresh="cariProduk($select.search, form.cabang)" repeat="val in resultsProduk">
                                                        {{val.nama}}
                                                    </ui-select-choices>
                                                    <ui-select-no-choice>
                                                        <div style="text-align: center;">There is nothing to show</div>
                                                    </ui-select-no-choice>
                                                </ui-select>
                                                <span class="input-group-btn">
                                                    <button ng-disabled="is_view" ng-click="detail.produk = undefined" class="btn btn-default">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                </span>
                                            </div>

                                            <table style="margin-top: 4px;" ng-show="detail.type == 'Jasa'" class="det-trans">
                                                <tr>
                                                    <td width="65%">                                       
                                                <ui-select ng-disabled="is_view" ng-model="detail.dokter" theme="bootstrap">
                                                    <ui-select-match placeholder="Cari nama atau nip Dokter">{{$select.selected.nama}}</ui-select-match>
                                                    <ui-select-choices group-by="'group'" repeat="dokter in list_dokter | filter: $select.search">
                                                        <div ng-bind-html="dokter.nama | highlight: $select.search"></div>
                                                        <small>
                                                            Nip : <span ng-bind-html="dokter.kode | highlight: $select.search"></span>
                                                        </small>
                                                    </ui-select-choices>
                                                </ui-select>
                                        </td>
                                        <td style="width:135px;">
                                            <div class="input-group ">
                                                <span class="input-group-addon">Rp</span>
                                                <input type="text" ng-disabled="is_view" class="form-control angka" ng-maxlength="15" ng-pattern="/^[0-9]+$/"   ng-model="detail.fee_dokter">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                    <ui-select ng-disabled="is_view" ng-model="detail.terapis" theme="bootstrap">
                                        <ui-select-match placeholder="Cari nama atau nip Terapis">{{$select.selected.nama}}</ui-select-match>
                                        <ui-select-choices group-by="'group'" repeat="terapis in list_terapis | filter: $select.search">
                                            <div ng-bind-html="terapis.nama | highlight: $select.search"></div>
                                            <small>
                                                Nip : <span ng-bind-html="terapis.kode | highlight: $select.search"></span>
                                            </small>
                                        </ui-select-choices>
                                    </ui-select>
                                    </td>
                                    <td style="width:135px;">
                                        <div class="input-group " style="width:135px; margin-bottom: 1px;margin-top: 2px;">
                                            <span class="input-group-addon">Rp</span>
                                            <input type="text" ng-disabled="is_view" class="form-control angka" ng-maxlength="15" ng-pattern="/^[0-9]+$/"  ng-model="detail.fee_terapis">
                                        </div> 
                                    </td>
                                    </tr>
                                </table>
                                <ul ng-if="detail.type == 'Paket'" style="margin-top: 10px;">
                                    <li ng-repeat="paket in listPaket" >{{paket.nama}}</li>
                                </ul>
                                </td>
                                <td style="width:90px;">
                                    <input type="text" class="form-control angka" ng-maxlength="4" ng-pattern="/^[0-9]+$/" ng-change="total()"  ng-model="detail.jumlah" ng-disabled="is_view" ng-readonly="is_create == false" required>
                                    <ul ng-if="detail.type == 'Paket'" style="margin-top: 10px; list-style: none">
                                        <li ng-repeat="paket in listPaket">{{paket.jml * detail.jumlah}}</li>
                                    </ul>
                                </td>
                                <td style="width:135px;">
                                    <input type="text" class="form-control" ng-maxlength="8"  ng-model="detail.type"  ng-disabled="true" ng-readonly="is_create == false" required>
                                </td>
                                <td style="width:135px;">
                                    <div class="input-group " style="margin:0px;">
                                        <span class="input-group-addon">Rp</span>
                                        <input type="text" class="form-control angka" ng-maxlength="15" ng-pattern="/^[0-9]+$/" ng-change="total()"  ng-model="detail.harga"  ng-disabled="is_view"  required>
                                    </div>
                                </td>
                                <td style="width:200px;">
                                    <table>
                                        <tr>
                                            <td width="40%">     
                                                <div class="input-group " style="margin:0px;">
                                                    <input type="text" class="form-control angka" ng-maxlength="2" ng-pattern="/^[0-9]+$/" ng-change="calcDiskonHarga(detail);
                                                                        total();"  ng-model="detail.diskonpersen"  ng-disabled="is_view" ng-readonly="is_create == false">
                                                    <span class="input-group-addon">%</span>
                                                </div>
                                            </td>
                                            <td width="60%">     
                                                <div class="input-group " style="margin:0px;">
                                                    <span class="input-group-addon">Rp</span>
                                                    <input type="text" class="form-control angka" ng-maxlength="15" ng-pattern="/^[0-9]+$/" ng-change="calcDiskonPersen(detail);
                                                                        total();"  ng-model="detail.diskon"  ng-disabled="is_view" ng-readonly="is_create == false">
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="width:135px;">
                                    <div class="input-group " style="margin:0px;">
                                        <span class="input-group-addon">Rp</span>
                                        <input type="text" class="form-control angka" name="total" value="{{(detail.jumlah * detail.harga) - (detail.jumlah * detail.diskon) | number}}" ng-readonly="true"  ng-disabled="is_view" required>
                                    </div>
                                </td>
                                <td ng-hide="is_view">
                                    <button ng-click="removeRow($index)" class="btn btn-danger" ng-disabled="is_view"><i class="fa fa-trash-o"></i></button>
                                </td>
                                </tr>
                                <tr>
                                    <th colspan="3" style="text-align: right;">Total :&nbsp;</th>
                                    <td colspan="" style="width:135px;">

                                        <div class="input-group ">
                                            <span class="input-group-addon">Rp</span>
                                            <input type="text" class="form-control angka" ng-disabled="is_view"  ng-readonly="true" ng-model="form.total_harga">
                                        </div>
                                    </td>
                                    <td colspan="" style="width:135px;">
                                        <div class="input-group ">
                                            <span class="input-group-addon">Rp</span>
                                            <input type="text" class="form-control angka" ng-disabled="is_view"  ng-readonly="true" ng-model="form.total_diskon" style="max-width: 100%;">
                                        </div>
                                    </td>
                                    <td colspan="2" style="width:135px;">
                                        <div class="input-group ">
                                            <span class="input-group-addon">Rp</span>
                                            <input type="text" class="form-control angka" ng-disabled="is_view"  ng-readonly="true" ng-model="form.total">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th colspan="5" style="text-align: right;">Debet / Transfer :&nbsp;</th>
                                    <td colspan="2" style="width:135px;">
                                        <div class="input-group">
                                            <span class="input-group-addon">Rp</span>
                                            <input type="text" class="form-control angka" ng-pattern="/^[0-9]+$/" ng-model="form.atm" ng-disabled="is_view" required>
                                        </div>  
                                    </td>
                                </tr>
                                <tr>
                                    <th colspan="5" style="text-align: right;">Cash :&nbsp;</th>
                                    <td colspan="2" style="width:135px;">
                                        <div class="input-group">
                                            <span class="input-group-addon">Rp</span>
                                            <input type="text" class="form-control angka" ng-pattern="/^[0-9]+$/" ng-model="form.cash" ng-disabled="is_view" required>
                                        </div>  
                                    </td>
                                </tr>
                                <tr>
                                    <th colspan="5" style="text-align: right;">Credit :&nbsp;</th>
                                    <td colspan="2" style="width:135px;">
                                        <div class="input-group" >
                                            <span class="input-group-addon">Rp</span>
                                            <input type="text" class="form-control angka" ng-pattern="/^[0-9]+$/" ng-model="form.credit" ng-disabled="is_view" required>
                                        </div> 
                                    </td>
                                </tr>
                                <tr>
                                    <th colspan="5" style="text-align: right;">Kembalian :&nbsp;</th>
                                    <td colspan="2" style="width:135px;">
                                        <div class="input-group">
                                            <span class="input-group-addon">Rp</span>
                                            <input type="text" class="form-control angka" ng-readonly="true" ng-disabled="is_view" value="{{((form.cash * 1 + form.credit * 1 + form.atm * 1) - form.total) | number}}">
                                        </div> 
                                    </td>
                                </tr>
                                </table>
                            </div>
                        </div>
                        <div class="line line-dashed b-b line-lg pull-in"></div>
                        <div align="center">
                            <button type="submit" class="btn btn-default fa fa-arrow-circle-o-left" ng-click="cancel()">&nbsp;Back</button>
                            <button type="submit" class="btn btn-primary fa fa-save" ng-hide="is_view" ng-disabled="landaform.$invalid" ng-click="save(form, detPenjualan)">&nbsp;Simpan Perubahan</button>
                        </div>	
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!--PRINT-->

    <div id="printArea" ng-show="is_view">
        <table border="0" cellpadding="0" cellspacing="0" style="font-size: 13px" width="100%" class="print_dot">
            <tbody>
                <tr>
                    <td style="width:20%;vertical-align:midle;" valign="top"><center><img src="img/logo.png" style="float:none;width:100px;"></center></td>
            </tr>
            <tr>
                <td style="vertical-align:midle;text-align:center; font-family: monospace; ">
                    <b style="font-size: 13pt; line-height: 22px; font-family: monospace; ">{{form.cabang.nama| uppercase}} </b>
                    <br><span style="font-size: 13pt; font-family: monospace; ">{{form.cabang.alamat| uppercase}} <br>
                        TELP. {{form.cabang.no_tlp| uppercase}}</span>
                    </b>
                </td>
            </tr>
            </tbody>
        </table>
        <div style="border-top:1pt solid #000;margin:0px;width: 100%; line-height:2px">&nbsp;</div>
        <div style=margin:0px;width: 100%;">&nbsp;</div>
        <table cellpadding="4" width="100%">
            <tbody>
                <tr valign="top">
                    <td id="print" style="width: 50px;text-align: left;vertical-align:top; width:90px;">Nota</td>
                    <td id="print" width="1">:</td>
                    <td id="print" style="text-align: left;vertical-align:top;;">{{form.kode}}</td>
                </tr>
                <tr valign="top">
                    <td id="print" style="width: 50px;text-align: left;vertical-align:top;">Tanggal</td>
                    <td id="print" width="1">:</td>
                    <td id="print" style="text-align: left;vertical-align:top;">{{form.tanggal| date}}</td>
                </tr>
                <tr valign="top">
                    <td id="print" style="width: 50px;text-align: left;vertical-align:top;">No. Cus</td>
                    <td id="print" width="1">:</td>
                    <td id="print" style="text-align: left;vertical-align:top;;">{{form.customers.kode}}</td>
                </tr>
                <tr valign="top">
                    <td id="print" style="width: 50px;text-align: left;vertical-align:top;"><span>Customer</span></td>
                    <td id="print" width="1">:</td>
                    <td id="print" style="text-align: left;vertical-align:top;">{{form.customers.nama}}</td>
                </tr>
                <tr valign="top">
                    <td id="print" style="width: 50px;text-align: left;vertical-align:top;"><span>Telp.</span></td>
                    <td id="print" width="1">:</td>
                    <td id="print" style="text-align: left;vertical-align:top;">{{form.customers.no_tlp}}</td>
                </tr>
            </tbody>
        </table>
        <div style=margin:0px;width: 100%;">&nbsp;</div>
        <table width="100%">
            <tbody ng-repeat="detail in detPenjualan">
                <tr>
                    <td colspan="3" id="print" stlye="line-height: 22px;">
                        {{detail.produk.nama| uppercase}} 
                        <div ng-if="detail.type == 'Jasa'" id="print" style="line-height: 9px;">
                            <p id="print" style="line-height: 22px;margin:0px;padding: 0px;" ng-if="detail.terapis.nama != ''">-Terapis : {{detail.terapis.nama}}</p>
                            <p id="print" style="line-height: 22px;margin:0px;padding: 0px;" ng-if="detail.dokter.nama != ''">-Dokter : {{detail.dokter.nama}}</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right; vertical-align: top;" id="print" align="right" colspan="2">
                        {{detail.jumlah}} x {{detail.harga| number}}
                        <div ng-if="detail.diskon > 0" id="print">
                            <br>- Disc {{detail.diskon * detail.jumlah}}
                        </div>
                    </td>
                    <td id="print" align="right">
                        {{(detail.jumlah * detail.harga) - (detail.jumlah * detail.diskon) | number}}
                    </td>
                </tr>
            </tbody>
            <tr>
                <td align="right" id="print" colspan="2"><b>Total (Rp)</b></td>
                <td align="right" id="print">{{form.total| number}}</td>
            </tr>
            <tr>
                <td align="right" id="print" colspan="2"><b>Debet/Transfer (Rp)</b></td>
                <td align="right" id="print">{{form.atm| number}}</td>
            </tr>
            <tr>
                <td align="right" id="print" colspan="2"><b>Cash (Rp)</b></td>
                <td align="right" id="print">{{form.cash| number}}</td>
            </tr>
            <tr ng-if="form.credit > 0">
                <td align="right" id="print" colspan="2"><b>Credit (Rp)</b></td>
                <td align="right" id="print">{{form.credit| number}}</td>
            </tr>
            <tr>
                <td align="right" id="print" colspan="2"><b>Kembali (Rp)</b></td>
                <td align="right" id="print">{{((form.cash * 1 + form.credit * 1 + form.atm * 1) - form.total | number)}}</td>
            </tr>
        </table>

        <div style=margin:0px;width: 100%;">&nbsp;</div>
        <div style="border-top:1pt solid #000;margin:0px;width: 100%; line-height:2px">&nbsp;</div>

        <table width="100%">
            <tr>
                <td width="50%" valign="top" align="left" id="print">
                    <i>Terima Kasih</i>
                </td>
                <td align="right" style="font-size: 12pt;" id="print">Kasir<br><br> {{form.user.nama}}</td>
            </tr>
        </table>
    </div>
</div>
